# `databooks` demo!

In [1]:
from random import random  # cell with tags

In [2]:
random()

0.570736084214906

In [3]:
print("notebooks + git ‚ù§Ô∏è")

notebooks + git ‚ù§Ô∏è

In [4]:
throw error

SyntaxError: invalid syntax (1516912967.py, line 1)

This is a raw cell! üöÄ

In [5]:
import pandas as pd
import numpy as np

print("A dataframe! üêº")
pd.DataFrame(np.random.random((10,3)), columns=[f"col{i}" for i in range(3)])

A dataframe! üêº

       col0      col1      col2
0  0.849474  0.756456  0.268569
1  0.511937  0.357224  0.570879
2  0.836116  0.928280  0.946514
3  0.803129  0.540215  0.335783
4  0.074853  0.661168  0.344527
5  0.299696  0.782420  0.970147
6  0.159906  0.566822  0.243798
7  0.896461  0.174406  0.758376
8  0.708324  0.895195  0.769364
9  0.860726  0.381919  0.329727